.list-article{
    position: relative;
    display: block;
    top: 150px;
    @include if-is-phone {
        top: 80px;
    }
    margin: 0 2%;
    margin-bottom: 30px;
    align-content: center;
    .item-article{
        display: block;
        background-color: $color-article;
        @include sombra;
        margin-bottom: 10px;
        @include if-is-phone {
            height: 400px;
        }
        @include if-is-tablet {
            height: 600px;
            margin-right: auto;
            margin-left: auto;
            max-width: 700px;
            margin-bottom: 15px;
        }
        @include if-is-desktop {
            height: 600px;
            max-width: 800px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
            //margin-bottom: 30px;
        }
    }

}
.paginacion{
    font-weight: bold;
    margin: 0 20%;
    top: 150px;
    align-items: center;
    @include center;
    .divVert{
        display: inline;
        border-right: 1pt solid gray;
        margin-right: 8px;
    }
    a{
        text-decoration: none;
        font-size: $font-size-login+2pt;
        color: $color-adeep;
        &:hover{
            color: $color-hover;
        }
    }
    @include if-is-phone {
        margin: 0 5%;
        top: 100px;
    }

}

.scroll-up {
    width: 40px;
    height: 40px;
    position: fixed;
    top: calc(100vh - 50px);
    right: 30px;
    opacity: 0.5;
    background: transparent url('../../src/img/arrowtop.png') top left no-repeat;
    z-index: 10;
    @include if-is-phone {
        right: 10px;
    }
}

// estilos para articulo espesifico.
//Usuario
.item-article .article{
    //background-color: red;

    .section-user{
        padding: 5px;
        position: relative;
        font-family: $font-pt;
        .user{

            width: 60px;
            img{
                height: 50px;
                display: inline-block;
                border-radius: 50%;
            }


        }
        .user-name{
            font-size: $font-size-user;
            display: inline-block;
            float: left;

        }
        .fecha span{
            float: right;
            font-size: $font-size-fecha;
        }
    }




}
.article{
    /*
    background-color: red;
    height: 400px;
    */
    .title-article{
        font-family: $font-pt;
        position: relative;
        //padding-top: 40px;
    }
    .text-article{
        font-family: $font-cardo;
    }
    .img-article{

    }
    .fav-comentarios{
        font-size: $font-size-login - 1pt;
        padding: 0 10px;
        //position: relative;
        //top: 150px;
        .icon-heart{
            float: left;
            color: darken($color-article, 10%);
        }
        .icon-bubbles{
            float: right;
        }
        .icon-bubbles:before {
            float: right;
            content: '\e96c';
            position: static;
            font-size: 0.9em;
            font-family: "icomoon";
        }
        .icon-heart:before{
            content: '\e9da';
            position: static;
            font-size: 1.5em;
            font-family: "icomoon";
        }
    }
}
/*
.btn-top {
    position: fixed !important;
    top: inherit;
    right: 0;
    bottom: 0;
    width: 70px;
    left: 0;
    text-align: center;
    margin: 0 auto;
    height: 35px;
    overflow: hidden;
    display: none;
    z-index: 1000;
    color: #8f8f8f;
}
.btn-top a {
    color: #ededed;
    border: none;
    font-weight: bold;
    width: 70px;
    line-height: 40px;
    height: 70px;
    background: rgba(28,28,28,0.3);
    display: block;
    border-radius: 100px;
}
.btn-top a:before {
    margin-right: 0;
}
.btn-top a:before {
    content: '\ea50';
    position: static;
    font-size: 2em;
    font-family: "icomoon";
}
.btn-top a:hover {
    background: rgba(12,95,169,0.8);
}
*/
