@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon/icomoon.eot?ude53u');
  src:  url('../font/icomoon/icomoon.eot?ude53u#iefix') format('embedded-opentype'),
    url('../font/icomoon/icomoon.ttf?ude53u') format('truetype'),
    url('../font/icomoon/icomoon.woff?ude53u') format('woff'),
    url('../font/icomoon/icomoon.svg?ude53u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
